# Fichiers système (Mac & Windows)
.DS_Store
Thumbs.db

# Éditeur (Visual Studio Code)
.vscode/

# Logs éventuels
*.log

# Fichiers perso ou sensibles
*.env

# Dossiers de build éventuels (si tu ajoutes plus tard un bundler)
dist/
build/